apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "exivity.fullname" . }}-config-generator
  labels:
    app.kubernetes.io/component: config-generator
    {{- include "exivity.labels" . | nindent 4 }}
data:
  generate-config.sh: |
    #!/bin/sh
    set -e
    
    # Export secret values from mounted secret files
    export DB_USER=$(cat /secrets/postgres/POSTGRES_USER)
    export DB_PASSWORD=$(cat /secrets/postgres/POSTGRES_PASSWORD)
    export MQ_USER=$(cat /secrets/rabbitmq/RABBITMQ_USERNAME)
    export MQ_PASSWORD=$(cat /secrets/rabbitmq/RABBITMQ_PASSWORD)
    
    # Non-sensitive config values are embedded directly from values.yaml
    jq -n \
      --arg db_user "$DB_USER" \
      --arg db_pass "$DB_PASSWORD" \
      --arg mq_user "$MQ_USER" \
      --arg mq_pass "$MQ_PASSWORD" \
      '{
        chronos: {
          TTL: 60
        },
        db: {
          driver: "postgres",
          parameters: {
            host: "{{ .Values.postgresql.host | default (printf "%s-postgresql" (include "exivity.fullname" .)) }}",
            port: {{ .Values.postgresql.port }},
            sslmode: "{{ .Values.postgresql.sslmode | default "disable" }}",
            dbname: "{{ .Values.postgresql.global.postgresql.auth.database }}",
            user: $db_user,
            password: $db_pass,
            connect_timeout: 10
          }
        },
        griffon: {
          TTL: 10
        },
        mq: {
          servers: [{
            host: "{{ .Values.rabbitmq.host | default (printf "%s-%s" (include "exivity.fullname" .) (.Values.rabbitmq.nameOverride | default "rabbitmq")) }}",
            port: {{ .Values.rabbitmq.port }},
            secure: {{ .Values.rabbitmq.secure }}
          }],
          user: $mq_user,
          password: $mq_pass,
          vhost: "{{ .Values.rabbitmq.vhost | default "/" }}",
          redialPeriod: 5
        }
      }' > /tmp/base-config.json
    
    # Add merlin configuration if parameters provided
    if [ -n "$APPNAME" ]; then
      if [ "$APPNAME" = "use" ]; then
        jq --arg appname "$APPNAME" \
           --arg path "$PATH_VAR" \
           --arg queue "$QUEUE" \
           '.merlin = {
             reservedCPU: 0,
             programs: {
               ($appname): {
                 component: $appname,
                 path: $path,
                 queue: $queue,
                 CPU: 0,
                 params: "${params}",
                 RAM: 0
               }
             }
           }' /tmp/base-config.json > /exivity/home/system/config.json
      else
        jq --arg appname "$APPNAME" \
           --arg path "$PATH_VAR" \
           --arg queue "$QUEUE" \
           '.merlin = {
             reservedCPU: 0,
             programs: {
               ($appname): {
                 component: $appname,
                 path: $path,
                 queue: $queue,
                 CPU: 0,
                 RAM: 0
               }
             }
           }' /tmp/base-config.json > /exivity/home/system/config.json
      fi
    else
      mv /tmp/base-config.json /exivity/home/system/config.json
    fi
  
  generate-pigeon-config.sh: |
    #!/bin/sh
    set -e
    
    # Export secret values from mounted secret files
    export DB_USER=$(cat /secrets/postgres/POSTGRES_USER)
    export DB_PASSWORD=$(cat /secrets/postgres/POSTGRES_PASSWORD)
    export MQ_USER=$(cat /secrets/rabbitmq/RABBITMQ_USERNAME)
    export MQ_PASSWORD=$(cat /secrets/rabbitmq/RABBITMQ_PASSWORD)
 
    # Non-sensitive config values are embedded directly from values.yaml
    jq -n \
      --arg db_user "$DB_USER" \
      --arg db_pass "$DB_PASSWORD" \
      --arg mq_user "$MQ_USER" \
      --arg mq_pass "$MQ_PASSWORD" \
      '{
        db: {
          driver: "postgres",
          parameters: {
            host: "{{ .Values.postgresql.host | default (printf "%s-postgresql" (include "exivity.fullname" .)) }}",
            port: {{ .Values.postgresql.port }},
            sslmode: "{{ .Values.postgresql.sslmode | default "disable" }}",
            dbname: "{{ .Values.postgresql.global.postgresql.auth.database }}",
            user: $db_user,
            password: $db_pass,
            connect_timeout: 10
          }
        },
        mq: {
          servers: [{
            host: "{{ .Values.rabbitmq.host | default (printf "%s-%s" (include "exivity.fullname" .) (.Values.rabbitmq.nameOverride | default "rabbitmq")) }}",
            port: {{ .Values.rabbitmq.port }},
            secure: {{ .Values.rabbitmq.secure }}
          }],
          user: $mq_user,
          password: $mq_pass,
          vhost: "{{ .Values.rabbitmq.vhost | default "/" }}",
          redialPeriod: 5
        },
        merlin: {
          reservedCPU: 1,
          heartbeatPeriod: 5,
          programs: {
            pigeon: {
              path: "/usr/bin/php",
              queue: "PIGEON",
              CPU: 0,
              RAM: 0
            },
            workflow_ended: {
              component: "pigeon",
              path: "/usr/bin/php",
              queue: "WORKFLOW_EVENT",
              topic: "evt.workflow_status.griffon.#",
              params: "common/pigeon/pigeon.phar event:post workflow_ended `${payload}`",
              CPU: 0.25,
              RAM: 250
            },
            report_published: {
              component: "pigeon",
              path: "/usr/bin/php",
              queue: "REPORT_PUBLISHED",
              topic: "evt.report_published.proximity.#",
              params: "common/pigeon/pigeon.phar event:post report_published `${payload}`",
              CPU: 0.25,
              RAM: 250
            }
          }
        }
      }' > /exivity/home/system/config.json
