apiVersion: apps/v1
kind: Deployment
metadata:
  name: glass
  labels:
    exivity.k8s/component: glass
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      exivity.k8s/component: glass
      {{- include "exivity.default_labels" . | indent 6 }}
  replicas: 1
  template:
    metadata:
      labels:
        exivity.k8s/component: glass
        {{- include "exivity.default_labels" . | indent 8 }}
    spec:
      volumes:
      - name: log
        persistentVolumeClaim:
          claimName: exivity-glass-log
      containers:
      - name: glass
        image: {{ .Values.images.glass }}
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "25m"
            memory: "50Mi"
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: log
          mountPath: /exivity/home/log/glass
      imagePullSecrets:
      - name: ghcr
---
apiVersion: v1
kind: Service
metadata:
  name: glass
  labels:
    exivity.k8s/component: glass
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  selector:
    exivity.k8s/component: glass
    {{- include "exivity.default_labels" . | indent 4 }}
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: exivity-glass-log
  labels:
    exivity.k8s/component: griffon
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
