apiVersion: v1
kind:       PersistentVolumeClaim
metadata:
  name: {{ include "exivity.fullname" $ -}}-etl-config
{{- if .Values.storage.helmResourcePolicyKeep }}
  annotations:
    "helm.sh/resource-policy": keep
{{- end }}
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  accessModes:
    - {{ .Values.storage.sharedVolumeAccessMode }}
  resources:
    requests:
      storage: 1Gi
{{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
{{ end }}
{{- if (eq .Values.storage.storageClass "nfs") }}
  mountOptions:
    - hard
    - retrans=3
    - proto=tcp
    - nfsvers=4.2
    - rsize=4096
    - wsize=4096
    - noatime
    - nodiratime
{{ end }}

---
apiVersion: v1
kind:       PersistentVolumeClaim
metadata:
  name: {{ include "exivity.fullname" $ -}}-exported
{{- if .Values.storage.helmResourcePolicyKeep }}
  annotations:
    "helm.sh/resource-policy": keep
{{- end }}
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  accessModes:
    - {{ .Values.storage.sharedVolumeAccessMode }}
  resources:
    requests:
      storage: 1Gi
{{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
{{ end }}
{{- if (eq .Values.storage.storageClass "nfs") }}
  mountOptions:
    - hard
    - retrans=3
    - proto=tcp
    - nfsvers=4.2
    - rsize=4096
    - wsize=4096
    - noatime
    - nodiratime
{{ end }}

---
apiVersion: v1
kind:       PersistentVolumeClaim
metadata:
  name: {{ include "exivity.fullname" $ -}}-extracted
{{- if .Values.storage.helmResourcePolicyKeep }}
  annotations:
    "helm.sh/resource-policy": keep
{{- end }}
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  accessModes:
    - {{ .Values.storage.sharedVolumeAccessMode }}
  resources:
    requests:
      storage: 1Gi
{{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
{{ end }}
{{- if (eq .Values.storage.storageClass "nfs") }}
  mountOptions:
    - hard
    - retrans=3
    - proto=tcp
    - nfsvers=4.2
    - rsize=4096
    - wsize=4096
    - noatime
    - nodiratime
{{ end }}

---
apiVersion: v1
kind:       PersistentVolumeClaim
metadata:
  name: {{ include "exivity.fullname" $ -}}-import
{{- if .Values.storage.helmResourcePolicyKeep }}
  annotations:
    "helm.sh/resource-policy": keep
{{- end }}
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  accessModes:
    - {{ .Values.storage.sharedVolumeAccessMode }}
  resources:
    requests:
      storage: 1Gi
{{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
{{ end }}
{{- if (eq .Values.storage.storageClass "nfs") }}
  mountOptions:
    - hard
    - retrans=3
    - proto=tcp
    - nfsvers=4.2
    - rsize=4096
    - wsize=4096
    - noatime
    - nodiratime
{{ end }}
  
---
apiVersion: v1
kind:       PersistentVolumeClaim
metadata:
  name: {{ include "exivity.fullname" $ -}}-report
{{- if .Values.storage.helmResourcePolicyKeep }}
  annotations:
    "helm.sh/resource-policy": keep
{{- end }}
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  accessModes:
    - {{ .Values.storage.sharedVolumeAccessMode }}
  resources:
    requests:
      storage: 1Gi
{{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
{{ end }}
{{- if (eq .Values.storage.storageClass "nfs") }}
  mountOptions:
    - hard
    - retrans=3
    - proto=tcp
    - nfsvers=4.2
    - rsize=4096
    - wsize=4096
    - noatime
    - nodiratime
{{ end }}
