apiVersion: v1
kind: Secret
metadata:
  name: {{ include "exivity.fullname" . }}-postgres-secret
  labels:
    app.kubernetes.io/component: postgres-secret
    {{- include "exivity.labels" . | nindent 4 }}
type: Opaque
data:
  POSTGRES_USER: {{ .Values.postgresql.global.postgresql.auth.username | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgresql.global.postgresql.auth.password | b64enc | quote }}
