{{- $passwordIsSecretRef := include "exivity.isSecretRef" .Values.postgresql.global.postgresql.auth.password -}}
{{- $usernameIsSecretRef := include "exivity.isSecretRef" .Values.postgresql.global.postgresql.auth.username -}}
{{- if or (not $passwordIsSecretRef) (not $usernameIsSecretRef) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "exivity.fullname" . }}-postgres-secret
  labels:
    app.kubernetes.io/component: postgres-secret
    {{- include "exivity.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if not $passwordIsSecretRef }}
  POSTGRES_PASSWORD: {{ .Values.postgresql.global.postgresql.auth.password | b64enc | quote }}
  {{- end }}
  {{- if not $usernameIsSecretRef }}
  POSTGRES_USER: {{ .Values.postgresql.global.postgresql.auth.username | b64enc | quote }}
  {{- end }}
{{- end }}
