apiVersion: apps/v1
kind: Deployment
metadata:
  name: proximity-api
  labels:
    exivity.k8s/component: proximity-api
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      exivity.k8s/component: proximity-api
  replicas: 1
  template:
    metadata:
      labels:
        exivity.k8s/component: proximity-api
        {{- include "exivity.default_labels" . | indent 8 }}
    spec:
      volumes:
      - name: projected
        projected:
          sources:
          - configMap:
              name: app-config-default
          - configMap:
              name: exivity-license-pub
          {{- if .Values.license }}
          - configMap:
              name: exivity-license-key
          {{- end }}
      - name: log
        persistentVolumeClaim:
          claimName: exivity-proximity-api-log
      - name: log-chronos
        persistentVolumeClaim:
          claimName: exivity-chronos-log
      - name: log-edify
        persistentVolumeClaim:
          claimName: exivity-edify-log
      - name: log-griffon
        persistentVolumeClaim:
          claimName: exivity-griffon-log
      - name: log-horizon
        persistentVolumeClaim:
          claimName: exivity-horizon-log
      - name: log-pigeon
        persistentVolumeClaim:
          claimName: exivity-pigeon-log
      - name: log-transcript
        persistentVolumeClaim:
          claimName: exivity-transcript-log
      - name: log-use
        persistentVolumeClaim:
          claimName: exivity-use-log
      - name: config
        persistentVolumeClaim:
          claimName: exivity-etl-config
      - name: import
        persistentVolumeClaim:
          claimName: exivity-import
      - name: report
        persistentVolumeClaim:
          claimName: exivity-report
      - name: exported
        persistentVolumeClaim:
          claimName: exivity-exported
      - name: extracted
        persistentVolumeClaim:
          claimName: exivity-extracted
      containers:
      - name: proximity-api
        image: {{ .Values.service.proximityApi.image }}:{{ .Values.service.proximityApi.tag | default(.Chart.Version) }}
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "25m"
            memory: "50Mi"
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: config
          mountPath: /exivity/home/system/config
        - name: projected
          mountPath: /exivity/home/system
        - name: exported
          mountPath: /exivity/home/exported
        - name: extracted
          mountPath: /exivity/home/system/extracted
        - name: log
          mountPath: /exivity/home/log/proximity
        - name: log-chronos
          mountPath: /exivity/home/log/chronos
        - name: log-edify
          mountPath: /exivity/home/log/edify
        - name: log-griffon
          mountPath: /exivity/home/log/griffon
        - name: log-horizon
          mountPath: /exivity/home/log/horizon
        - name: log-pigeon
          mountPath: /exivity/home/log/pigeon
        - name: log-transcript
          mountPath: /exivity/home/log/transcript
        - name: log-use
          mountPath: /exivity/home/log/use
        - name: import
          mountPath: /exivity/home/import
        - name: report
          mountPath: /exivity/home/system/report
        env:
        - name: EXIVITY_APP_KEY
          valueFrom:
            secretKeyRef:
              name: exivity-app-key
              key: app_key
        - name: EXIVITY_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              name: exivity-license
              key: license_key
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: exivity-jwt-secret
              key: jwt_secret
        - name: REDIS_HOST
          value: exivity-redis-master
        - name: CACHE_DRIVER
          value: file
        - name: QUEUE_CONNECTION
          value: sync
      imagePullSecrets:
      - name: ghcr
---
apiVersion: v1
kind: Service
metadata:
  name: proximity-api
  labels:
    exivity.k8s/component: proximity-api
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  selector:
    exivity.k8s/component: proximity-api
    {{- include "exivity.default_labels" . | indent 4 }}
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: exivity-proximity-api-log
  labels:
    exivity.k8s/component: proximity-api
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
{{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
{{ end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: exivity-license-pub
  labels:
    exivity.k8s/component: proximity-api
    {{- include "exivity.default_labels" . | indent 4 }}
data:
  license.pub: |-
    -----BEGIN PUBLIC KEY-----
    MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA7PQTdfCtqv7Ls+TZEItu
    Si0suYMlW4Elt9RVYCC5E6iXLYuKZsT9LZruUaClff7qF6RHC7mfL/LsuZ6fXnjc
    p+v4l/CTKtkhWQ749ZFOld4Z03oOPlbeeP+mMmHUSNp45ocMqIKg2JLQFAar/FC3
    uR8nE87ZUACwoWNC4r5XEXZBmgRSp95czn47o2De0uIVuLrEI0sj2g6Tq8kukjue
    p6vdF8EtnIVNAaqBf5xptwo5CxpYSp0djhT/bU4+A+xJbmwNHVPMMDwaG0yu/hAo
    DvxLO8wiyNAMUtkl30kgkSOBBBBarURMU5KMD0ifPn+y5M9beqyAnNTD/YRmElJC
    X/z+/btt8Hb5QaMBQ5ht7GVNHYmbEx+dewA8vL3wX7k5terEimGR/oLjQcXRIpFY
    9+aEBzes9V5ullabbDVSitlzdewlP48MxkSe40wTnSpyIkt88wTmVeaCyhmGtf31
    Hsc7hv8osgvCx4nAtEUNIOQeZRW2fz9mlUBwQzmkmFPmBueAx4ON/wctnBU/3s7O
    NAwOxsx7he46BCNDk/ZKZz4fAsGOqSteUluKPYrSPOJBKuu5y486+iQthm04p/Bw
    2g1z1jmVroQ2It26qK8XpbFyuV8gc+b3cc/HT8MCLGVCwjl/chmkz2doWPJPLaOh
    BIy2eaNHtH2KDZCXVhQTB8MCAwEAAQ==
    -----END PUBLIC KEY-----
---
{{- if .Values.license }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: exivity-license-key
  labels:
    exivity.k8s/component: proximity-api
    {{- include "exivity.default_labels" . | indent 4 }}
data:
  license.key: {{ .Values.license }}
{{ end }}
