apiVersion: apps/v1
kind: Deployment
metadata:
  name: proximity-cli
  labels:
    exivity.k8s/component: proximity-cli
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      exivity.k8s/component: proximity-cli
  replicas: 1
  template:
    metadata:
      labels:
        exivity.k8s/component: proximity-cli
        {{- include "exivity.default_labels" . | indent 8 }}
    spec:
      volumes:
      - name: log
        persistentVolumeClaim:
          claimName: exivity-proximity-cli-log
      - name: config
        persistentVolumeClaim:
          claimName: exivity-etl-config
      - name: config-file
        configMap:
          name: app-config-proximity-cli
      - name: import
        persistentVolumeClaim:
          claimName: exivity-import
      - name: report
        persistentVolumeClaim:
          claimName: exivity-report
      - name: extracted
        persistentVolumeClaim:
          claimName: exivity-extracted
      - name: exported
        persistentVolumeClaim:
          claimName: exivity-exported
      containers:
      - name: proximity-cli
        image: {{ .Values.service.proximityCli.tag | default (printf "exivity-%s" (.Chart.Version)) }}
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "25m"
            memory: "50Mi"
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
        volumeMounts:
        - name: config
          mountPath: /exivity/home/system/config
        - name: config-file
          mountPath: /exivity/home/system
        - name: exported
          mountPath: /exivity/home/system/exported
        - name: extracted
          mountPath: /exivity/home/system/extracted
        - name: log
          mountPath: /exivity/home/log/merlin
        - name: log
          mountPath: /exivity/home/log/proximity
        - name: import
          mountPath: /exivity/home/import
        - name: report
          mountPath: /exivity/home/system/report
        env:
        - name: EXIVITY_APP_KEY
          valueFrom:
            secretKeyRef:
              name: exivity-app-key
              key: app_key
        - name: EXIVITY_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              name: exivity-license
              key: license_key
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: exivity-jwt-secret
              key: jwt_secret
      imagePullSecrets:
      - name: ghcr
---
# add templated configmap providing the service with the required config.json
{{- include "exivity.config" (dict "Values" .Values "appname" "proximity-cli" "path" "/usr/bin/php" "queue" "PROXIMITY") }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: exivity-proximity-cli-log
  labels:
    exivity.k8s/component: proximity-cli
    {{- include "exivity.default_labels" . | indent 4 }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
{{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
{{ end }}
