{{- if not (include "exivity.isSecretRef" .Values.secret.appKey) }}
apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-app-key
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
data:
  {{- if .Release.IsUpgrade }}
  EXIVITY_APP_KEY: {{ index (lookup "v1" "Secret" .Release.Namespace (printf "%s-app-key" (include "exivity.fullname" $))).data "EXIVITY_APP_KEY" }}
  {{- else if not (empty .Values.secret.appKey) }}
  EXIVITY_APP_KEY: {{ .Values.secret.appKey | b64enc }}
  {{- else }}
  EXIVITY_APP_KEY: {{ randAlphaNum 32 | b64enc }}
  {{- end }}
{{- end }}

---
{{- if not (include "exivity.isSecretRef" .Values.secret.jwtSecret) }}
apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-jwt-secret
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
data:
  {{- if .Release.IsUpgrade }}
  EXIVITY_JWT_SECRET: {{ index (lookup "v1" "Secret" .Release.Namespace (printf "%s-jwt-secret" (include "exivity.fullname" $))).data "EXIVITY_JWT_SECRET" }}
  {{- else if not (empty .Values.secret.jwtSecret) }}
  EXIVITY_JWT_SECRET: {{ .Values.secret.jwtSecret | b64enc }}
  {{- else }}
  EXIVITY_JWT_SECRET: {{ randAlphaNum 32 | b64enc }}
  {{- end }}
{{- end }}

---
{{- $rabbitmqUsernameIsSecretRef := include "exivity.isSecretRef" .Values.rabbitmq.auth.username -}}
{{- $rabbitmqPasswordIsSecretRef := include "exivity.isSecretRef" .Values.rabbitmq.auth.password -}}
{{- if or (not $rabbitmqUsernameIsSecretRef) (not $rabbitmqPasswordIsSecretRef) }}
apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-rabbitmq-secret
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
type: Opaque
data:
  {{- if not $rabbitmqUsernameIsSecretRef }}
  RABBITMQ_USERNAME: {{ .Values.rabbitmq.auth.username | b64enc | quote }}
  {{- end }}
  {{- if not $rabbitmqPasswordIsSecretRef }}
  RABBITMQ_PASSWORD: {{ .Values.rabbitmq.auth.password | b64enc | quote }}
  {{- end }}
{{- end }}
