apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-app-key
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
data:
  {{- if .Release.IsUpgrade }}
  app_key: {{ index (lookup "v1" "Secret" .Release.Namespace (printf "%s-app-key" (include "exivity.fullname" $))).data "app_key" }}
  {{- else }}
  app_key: {{ randAlphaNum 32 | b64enc }}
  {{- end }}

---
apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-jwt-secret
  labels:
    {{- include "exivity.labels" $ | indent 4 }}
data:
  {{- if .Release.IsUpgrade }}
  jwt_secret: {{ index (lookup "v1" "Secret" .Release.Namespace (printf "%s-jwt-secret" (include "exivity.fullname" $))).data "jwt_secret" }}
  {{- else }}
  jwt_secret: {{ randAlphaNum 32 | b64enc }}
  {{- end }}

---
apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-license-key
  labels:
    app.kubernetes.io/component: proximity-api
    {{- include "exivity.labels" $ | indent 4 }}
data:
  {{- if (and .Release.IsUpgrade (not .Values.license)) }}
  license.key: {{ index (lookup "v1" "Secret" .Release.Namespace (printf "%s-license-key" (include "exivity.fullname" $))).data "license.key" }}
  {{- else }}
  license.key: {{ .Values.license | required "A license is required to be set on initial install" | b64enc }}
  {{- end }}
