# pigeon listens to multiple MQ topics, so it gets its own config definition for now
# TODO: get some PHP guru to fix it so we don't need merlin here.
apiVersion: v1
kind:       ConfigMap
metadata:
  name: {{ include "exivity.fullname" $ -}}-config-pigeon
  labels:
    app.kubernetes.io/component: pigeon
    {{- include "exivity.labels" $ | indent 4 }}
data:
  config.json: |-
    {
      "db": {
        "driver": "postgres",
        "parameters": {
          "host":            {{ $.Values.postgresql.host | default (printf "%s-postgresql" (include "exivity.fullname" $ )) | quote }},
          "port":            {{ $.Values.postgresql.port | default 5432 }},
          "sslmode":         {{ $.Values.postgresql.sslmode | default "disable" | quote }},
          "dbname":          {{ $.Values.postgresql.global.postgresql.auth.database | quote }},
          "user":            {{ $.Values.postgresql.global.postgresql.auth.username | quote }},
          "password":        {{ $.Values.postgresql.global.postgresql.auth.password | quote }},
          "connect_timeout": 10
        }
      },
      "mq": {
          "servers": [
              {
                  "host":   {{ if $.Values.rabbitmq.host }}{{ $.Values.rabbitmq.host | quote }}{{ else if $.Values.rabbitmq.nameOverride }}{{ printf "%s-%s" (include "exivity.fullname" $) $.Values.rabbitmq.nameOverride | quote }}{{ else }}{{ printf "%s-rabbitmq" (include "exivity.fullname" $) | quote }}{{ end }},
                  "port":   {{ $.Values.rabbitmq.port | default 5672 }},
                  "secure": {{ $.Values.rabbitmq.secure | default false }}
              }
          ],
          "user":         {{ $.Values.rabbitmq.auth.username | quote }},
          "password":     {{ $.Values.rabbitmq.auth.password | quote }},
          "vhost":        {{ $.Values.rabbitmq.vhost | default "/" | quote }},
          "redialPeriod": 5
      },
      "merlin": {
        "reservedCPU":     1,
        "heartbeatPeriod": 5,
        "programs": {
          "pigeon": {
            "path":  "/usr/bin/php",
            "queue": "PIGEON",
            "CPU":   0,
            "RAM":   0
          },
          "workflow_ended": {
            "component": "pigeon",
            "path":      "/usr/bin/php",
            "queue":     "WORKFLOW_EVENT",
            "topic":     "evt.workflow_status.griffon.#",
            "params":    "common/pigeon/pigeon.phar event:post workflow_ended `${payload}`",
            "CPU":       0.25,
            "RAM":       250
          },
          "report_published": {
            "component": "pigeon",
            "path":      "/usr/bin/php",
            "queue":     "REPORT_PUBLISHED",
            "topic":     "evt.report_published.proximity.#",
            "params":    "common/pigeon/pigeon.phar event:post report_published `${payload}`",
            "CPU":       0.25,
            "RAM":       250
          }
        }
      }
    }
