apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-pigeon
  labels:
    app.kubernetes.io/component: pigeon
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.pigeon.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: pigeon
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-pigeon: {{ include (print $.Template.BasePath "/pigeon/configmap.yaml") . | sha256sum }}
        checksum/postgres-secret: {{ include (print $.Template.BasePath "/postgres-secret.yaml") . | sha256sum }}
        checksum/rabbitmq-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        app.kubernetes.io/component: pigeon
        {{- include "exivity.labels" $ | indent 8 }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "pigeon") | indent 8 }}
      volumes:
        {{- include "exivity.configTemplateVolume" (dict "configMapName" (printf "%s-config-pigeon" (include "exivity.fullname" $))) | nindent 8 }}
        {{- include "exivity.configGeneratedVolume" . | nindent 8 }}
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-pigeon-log
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: config-volume
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigInjector" . | nindent 8 }}
        {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "pigeon" "volumes" (list "log" "exported" "import" "config-volume")) | nindent 8 }}
      containers:
        - name:            pigeon
          image: {{ include "exivity.image" (set $ "name" "pigeon") }}
          imagePullPolicy: {{ .Values.service.pigeon.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.pigeon.resources | nindent 12 }}
          volumeMounts:
            {{- include "exivity.configVolumeMount" . | nindent 12 }}
            - name:      log
              mountPath: /exivity/home/log/pigeon
            - name:      log
              mountPath: /exivity/home/log/merlin
            - name:      import
              mountPath: /exivity/home/import
            - name:      exported
              mountPath: /exivity/home/exported
            - name:      config-volume
              mountPath: /exivity/home/system/config
          envFrom:
            - secretRef:
                name: {{ include "exivity.fullname" $ -}}-app-key
          env:
            - name:  EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-postgres-secret
                  key: POSTGRES_PASSWORD
            - name: MQ_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-rabbitmq-secret
                  key: RABBITMQ_USERNAME
            - name: MQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-rabbitmq-secret
                  key: RABBITMQ_PASSWORD
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.pigeon.nodeName }}
      nodeName: {{ .Values.service.pigeon.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.pigeon) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.pigeon) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.pigeon) | nindent 8 }}