apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-edify
  labels:
    app.kubernetes.io/component: edify
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.edify.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: edify
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: edify
        {{- include "exivity.labels" $ | indent 8 }}
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-licence-pub: {{ include (print $.Template.BasePath "/proximity/api.configmap.yaml") . | sha256sum }}
        checksum/{{- include "exivity.fullname" $ -}}-licence-key: {{ include (print $.Template.BasePath "/proximity/api.secret.yaml") . | sha256sum }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "edify") | indent 8 }}
      volumes:
        {{- include "exivity.configGeneratedVolume" . | nindent 8 }}
        - name: licence-pub
          configMap:
            name: {{ include "exivity.fullname" $ -}}-licence-pub
        - name: licence-key
          secret:
            secretName: {{ include "exivity.fullname" $ -}}-licence-key
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-edify-log
        - name: report
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-report
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigContainer" (dict "root" . "appname" "edify" "path" "/exivity/program/bin/edify" "queue" "REPORT") | nindent 8 }}
        {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "edify" "volumes" (list "config" "extracted" "log" "report")) | nindent 8 }}
      containers:
        - name:            edify
          image: {{ include "exivity.image" (set $ "name" "edify") }}
          imagePullPolicy: {{ .Values.service.edify.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.edify.resources | nindent 12 }}
          env:
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
            {{- if .Values.service.edify.tmpPath }}
            - name: EXIVITY_EDIFY_TMP_PATH
              value: "{{ .Values.service.edify.tmpPath }}"
            {{- end }}
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            {{- include "exivity.configGeneratedVolumeMount" . | nindent 12 }}
            - name:      licence-pub
              mountPath: /exivity/home/system/license.pub
              subPath:   license.pub
            - name:      licence-key
              mountPath: /exivity/home/system/license.key
              subPath:   license.key
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      log
              mountPath: /exivity/home/log/edify
            - name:      log
              mountPath: /exivity/home/log/merlin
            - name:      report
              mountPath: /exivity/home/system/report
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.edify.nodeName }}
      nodeName: {{ .Values.service.edify.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.edify) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.edify) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.edify) | nindent 8 }}