apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-executor
  labels:
    app.kubernetes.io/component: executor
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.executor.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: executor
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: executor
        {{- include "exivity.labels" $ | indent 8 }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "executor") | indent 8 }}
      volumes:
        {{- include "exivity.configVolume" . | nindent 8 }}
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: report
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-report
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-executor-log
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigContainer" (dict "root" . "appname" "executor" "path" "${program}" "queue" "EXECUTE") | nindent 8 }}
        {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "executor" "volumes" (list "config" "import" "report" "exported" "extracted" "log")) | nindent 8 }}
      containers:
        - name:            executor
          image: {{ include "exivity.image" (set $ "name" "executor") }}
          imagePullPolicy: {{ .Values.service.executor.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.executor.resources | nindent 12 }}
          env:
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            {{- include "exivity.configVolumeMount" . | nindent 12 }}
            - name:      exported
              mountPath: /exivity/home/exported
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      import
              mountPath: /exivity/home/import
            - name:      report
              mountPath: /exivity/home/system/report
            - name:      log
              mountPath: /exivity/home/log/merlin
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.executor.nodeName }}
      nodeName: {{ .Values.service.executor.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.executor) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.executor) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.executor) | nindent 8 }}