apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-transcript
  labels:
    app.kubernetes.io/component: transcript
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.transcript.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: transcript
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: transcript
        {{- include "exivity.labels" $ | indent 8 }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "transcript") | indent 8 }}
      volumes:
        {{- include "exivity.configGeneratedVolume" . | nindent 8 }}
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-transcript-log
        - name: report
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-report
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigContainer" (dict "root" . "appname" "transcript" "path" "/exivity/program/bin/transcript" "queue" "TRANSFORM") | nindent 8 }}
      {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "transcript" "volumes" (list "config" "exported" "extracted" "import" "log" "report")) | nindent 8 }}
      containers:
        - name:            transcript
          image: {{ include "exivity.image" (set $ "name" "transcript") }}
          imagePullPolicy: {{ .Values.service.transcript.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.transcript.resources | nindent 12 }}
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            {{- include "exivity.configGeneratedVolumeMount" . | nindent 12 }}
            - name:      exported
              mountPath: /exivity/home/exported
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      import
              mountPath: /exivity/home/import
            - name:      log
              mountPath: /exivity/home/log/transcript
            - name:      log
              mountPath: /exivity/home/log/merlin
            - name:      report
              mountPath: /exivity/home/system/report
          envFrom:
            - secretRef:
                name: {{ include "exivity.fullname" $ -}}-app-key
          env:
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.transcript.nodeName }}
      nodeName: {{ .Values.service.transcript.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.transcript) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.transcript) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.transcript) | nindent 8 }}