{{- if .Values.service.dummyData.enabled }}
apiVersion: batch/v1
kind:       Job
metadata:
  name: {{ include "exivity.fullname" $ -}}-dummy-data
  labels:
    app.kubernetes.io/component: dummy-data
    {{- include "exivity.labels" $ | indent 4 }}
  annotations:
    "helm.sh/hook": post-upgrade,post-upgrade
    "helm.sh/hook-delete-policy": hook-succeeded
    helm.sh/hook-weight: "20"
spec:
  completions:             1
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      annotations:
        checksum/postgres-secret: {{ include (print $.Template.BasePath "/postgres-secret.yaml") . | sha256sum }}
        checksum/rabbitmq-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        app.kubernetes.io/component: dummy-data
        {{- include "exivity.labels" $ | indent 8 }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "dummyData") | indent 8 }}
      volumes:
        - name: preset-file
          configMap:
            name: {{ include "exivity.fullname" $ -}}-dummy-data-preset
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: report
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-report
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
      containers:
        - name:            dummy-data
          image:           {{ include "exivity.image" (set $ "name" "dummyData") }}
          imagePullPolicy: {{ .Values.service.dummyData.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          env:
            - name:  PROXIMITY_API
              value: "{{ include "exivity.fullname" $ -}}-proximity-api:{{- .Values.service.proximityApi.servicePort }}"
            - name: PRESET_FILE_PATH
              value: /exivity/home/system/preset/preset.yaml
            - name: EXIVITY_HOME_PATH
              value: /exivity/home
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-postgres-secret
                  key: POSTGRES_PASSWORD
            - name: MQ_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-rabbitmq-secret
                  key: RABBITMQ_USERNAME
            - name: MQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-rabbitmq-secret
                  key: RABBITMQ_PASSWORD
          resources:
            {{- toYaml .Values.service.dummyData.resources | nindent 12 }}
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            - name:      exported
              mountPath: /exivity/home/exported
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      import
              mountPath: /exivity/home/import
            - name:      report
              mountPath: /exivity/home/system/report
            - name:      preset-file
              mountPath: /exivity/home/system/preset
      restartPolicy: Never
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.dummyData.nodeName }}
      nodeName: {{ .Values.service.dummyData.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.dummyData) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.dummyData) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.dummyData) | nindent 8 }}
      {{- end }}