{{- if .Values.service.dummyData.enabled }}
apiVersion: batch/v1
kind:       Job
metadata:
  name: {{ include "exivity.fullname" $ -}}-dummy-data
  labels:
    app.kubernetes.io/component: dummy-data
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  completions:             1
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      labels:
        app.kubernetes.io/component: dummy-data
        {{- include "exivity.labels" $ | indent 8 }}
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-shared: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
        - name:            dummy-data
          image:           {{ include "exivity.image" (set $ "name" "dummyData") }}
          imagePullPolicy: {{ .Values.service.dummyData.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          env:
            - name:  PROXIMITY_API
              value: "{{ include "exivity.fullname" $ -}}-proximity-api:{{- .Values.service.proximityApi.servicePort }}"
            - name: PRESET_FILE_PATH
              value: /exivity/home/system/preset/preset.yaml
            - name: EXIVITY_HOME_PATH
              value: /exivity/home
          resources:
            {{- toYaml .Values.service.dummyData.resources | nindent 12 }}
          securityContext:
            runAsUser:  1000
            runAsGroup: 1000
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            - name:      config-file
              mountPath: /exivity/home/system
            - name:      exported
              mountPath: /exivity/home/exported
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      import
              mountPath: /exivity/home/import
            - name:      report
              mountPath: /exivity/home/system/report
            - name:      preset-file
              mountPath: /exivity/home/system/preset
      volumes:
        - name: preset-file
          configMap:
            name: {{ include "exivity.fullname" $ -}}-dummy-data-preset
        - name: config-file
          configMap:
            name: {{ include "exivity.fullname" $ -}}-config-shared
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: report
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-report
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
      restartPolicy: Never
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.dummyData.nodeName }}
      nodeName: {{ .Values.service.dummyData.nodeName }}
      {{- end }}
      {{- with .Values.service.dummyData.nodeSelector }}
      nodeSelector:
        {{ range $key, $val := . }}
        {{ $key }}: {{ $val }}
        {{- end }}
      {{- end }}{{- end }}
