apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-chronos
  labels:
    app.kubernetes.io/component: chronos
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.chronos.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: chronos
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: chronos
        {{- include "exivity.labels" $ | indent 8 }}
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-shared: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "chronos") | indent 8 }}
      volumes:
        - name: config-file
          configMap:
            name: {{ include "exivity.fullname" $ -}}-config-shared
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-chronos-config
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-chronos-log
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      {{- include "exivity.initPermissions" (dict "root" . "component" "chronos" "volumes" (list "config" "log")) | nindent 6 }}
      containers:
        - name:            chronos
          image: {{ include "exivity.image" (set $ "name" "chronos") }}
          imagePullPolicy: {{ .Values.service.chronos.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.chronos.resources | nindent 12 }}
          env:
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name: ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            - name:      config-file
              mountPath: /exivity/home/system
            - name:      log
              mountPath: /exivity/home/log/chronos
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.chronos.nodeName }}
      nodeName: {{ .Values.service.chronos.nodeName }}
      {{- end }}
      {{- with .Values.service.chronos.nodeSelector }}
      nodeSelector:
        {{ range $key, $val := . }}
        {{ $key }}: {{ $val }}
        {{- end }}
      {{- end }}
