apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-chronos
  labels:
    app.kubernetes.io/component: chronos
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.chronos.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: chronos
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: chronos
        {{- include "exivity.labels" $ | indent 8 }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "chronos") | indent 8 }}
      volumes:
        {{- include "exivity.configVolume" . | nindent 8 }}
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-chronos-config
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-chronos-log
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigContainer" (dict "root" . "appname" "" "path" "" "queue" "") | nindent 8 }}
        {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "chronos" "volumes" (list "config" "log")) | nindent 8 }}
      containers:
        - name:            chronos
          image: {{ include "exivity.image" (set $ "name" "chronos") }}
          imagePullPolicy: {{ .Values.service.chronos.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.chronos.resources | nindent 12 }}
          env:
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name: ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            {{- include "exivity.configVolumeMount" . | nindent 12 }}
            - name:      log
              mountPath: /exivity/home/log/chronos
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.chronos.nodeName }}
      nodeName: {{ .Values.service.chronos.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.chronos) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.chronos) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.chronos) | nindent 8 }}