apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-use
  labels:
    app.kubernetes.io/component: use
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.use.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: use
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: use
        {{- include "exivity.labels" $ | indent 8 }}
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-use: {{ include (print $.Template.BasePath "/use/configmap.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: config-file
          configMap:
            name: {{ include "exivity.fullname" $ -}}-config-use
        - name: etl-config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-use-log
      {{- if gt (len (default "" .Values.service.use.caCertificates)) 0 }}
        - name: cert-volume
          emptyDir: {}
        - name: ca-certificates
          secret:
            secretName: {{ include "exivity.fullname" $ -}}-use-certificates
      initContainers:
        - name: install-ca-cert
          image: {{ include "exivity.image" (set $ "name" "use") }}
          command: ["sh", "-c", "update-ca-certificates && cp -r /etc/ssl/certs/* /certs/"]
          volumeMounts:
            - name: cert-volume
              mountPath: /certs
            {{- range $key, $value := .Values.service.use.caCertificates }}
            - name: ca-certificates
              mountPath: /usr/local/share/ca-certificates/{{$key}}
              subPath: {{$key}}
              readOnly: true
            {{- end }}
          resources:
            {{- toYaml .Values.service.use.initContainers.installCACert.resources | nindent 12 }}
            limits:
              cpu: "100m"
              memory: "50Mi"
      {{- end }}
      containers:
        - name:            use
          image: {{ include "exivity.image" (set $ "name" "use") }}
          imagePullPolicy: {{ .Values.service.use.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.use.resources | nindent 12 }}
          securityContext:
            runAsUser:  1000
            runAsGroup: 1000
          volumeMounts:
            - name:      config-file
              mountPath: /exivity/home/system
            - name:      etl-config
              mountPath: /exivity/home/system/config
            - name:      exported
              mountPath: /exivity/home/exported
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      import
              mountPath: /exivity/home/import
            - name:      log
              mountPath: /exivity/home/log/use
            - name:      log
              mountPath: /exivity/home/log/merlin
            {{- if gt (len (default "" .Values.service.use.caCertificates)) 0 }}
            - name: cert-volume
              mountPath: /etc/ssl/certs
            {{- end }}
          env:
            - name: EXIVITY_APP_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ -}}-app-key
                  key:                                     app_key
            - name:  RUN_DELAY
              value: "10"
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
          {{- include "exivity.nfs-liveness" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.use.nodeName }}
      nodeName: {{ .Values.service.use.nodeName }}
      {{- end }}
      {{- with .Values.service.use.nodeSelector }}
      nodeSelector:
        {{ range $key, $val := . }}
        {{ $key }}: {{ $val }}
        {{- end }}
      {{- end }}
