apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-griffon
  labels:
    app.kubernetes.io/component: griffon
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.griffon.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: griffon
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-shared: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/postgres-secret: {{ include (print $.Template.BasePath "/postgres-secret.yaml") . | sha256sum }}
        checksum/rabbitmq-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        app.kubernetes.io/component: griffon
        {{- include "exivity.labels" $ | indent 8 }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "griffon") | indent 8 }}
      volumes:
        {{- include "exivity.configTemplateVolume" (dict "configMapName" (printf "%s-config-shared" (include "exivity.fullname" $))) | nindent 8 }}
        {{- include "exivity.configGeneratedVolume" . | nindent 8 }}
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-griffon-config
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-griffon-log
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigInjector" . | nindent 8 }}
        {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "griffon" "volumes" (list "config" "log")) | nindent 8 }}
      containers:
        - name:            griffon
          image: {{ include "exivity.image" (set $ "name" "griffon") }}
          imagePullPolicy: {{ .Values.service.griffon.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.griffon.resources | nindent 12 }}
          env:
            - name:   EXIVITY_BACKEND_LOG_LEVEL
              value:  "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            {{- include "exivity.configVolumeMount" . | nindent 12 }}
            - name:      log
              mountPath: /exivity/home/log/griffon
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.griffon.nodeName }}
      nodeName: {{ .Values.service.griffon.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.griffon) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.griffon) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.griffon) | nindent 8 }}