apiVersion: v2
name: exivity
version: '3.9.1'
description: The chart to deploy Exivity to a kubernetes cluster
dependencies:
- name: postgresql
  condition: postgresql.install
  repository: https://charts.bitnami.com/bitnami
  version: '11.1.22'
