apiVersion: v2
name: exivity
version: '0.2.11'
description: The chart to deploy Exivity to a kubernetes cluster
dependencies:
- name: postgresql
  repository: https://charts.bitnami.com/bitnami
  version: '11.1.22'
