apiVersion:  v2

version:     3.9.2

name:        exivity
home:        https://exivity.com/
description: Exivity is a metering and billing solution for hybrid clouds.
sources:
  - https://github.com/exivity/charts/tree/main/charts/exivity

dependencies:
  - name:       postgresql
    condition:  postgresql.enabled
    repository: https://charts.bitnami.com/bitnami
    version:    11.1.22
