nameOverride:     ""
fullnameOverride: ""

# Please overwrite this, and use your actual licence or "demo" if you just want to look around, as it can only be changed through the Helm chart
licence: ""

ingress:
  enabled:          true
  host:             exivity
  ingressClassName: ""

  annotations: { }
  #  kubernetes.io/ingress.allow-http:         "false"
  #  nginx.ingress.kubernetes.io/ssl-redirect: "true"
  #  nginx.ingress.kubernetes.io/use-regex:    "true"

  tls:
    enabled: false
    # Existing TLS secret name, or set to "-" to generate a cert
    secret:  "-"

storage:
  storageClass:           ""
  helmResourcePolicyKeep: true
  sharedVolumeAccessMode: ReadWriteMany

# bitnami/postgresql chart config
postgresql:
  enabled:    true
  global:
    postgresql:
      auth:
        database:         exivity
        username:         exivity
        password:         Password12!
        postgresPassword: Password13!

  initialise: true
  dummyData:  false

  # If you bring your own DB
  host:       ""
  port:       ""


rabbitmq:
  enabled: true
  clustering:
    enabled: false

  auth:
    username:     user
    password:     pass

  # If you bring your own MQ
  host:    ""
  port:    ""
  vhost:   ""

service:
  registry:   docker.io
  tag:        ""
  pullPolicy: IfNotPresent

  pullSecrets: [ ]

  # Front-end components
  glass:
    registry:    ""
    repository:  exivity/glass
    tag:         ""
    pullPolicy:  ""
    servicePort: 80
    serviceType: ClusterIP
  proximityApi:
    registry:    ""
    repository:  exivity/proximity-api
    tag:         ""
    pullPolicy:  ""
    servicePort: 80
    serviceType: ClusterIP

  # Back-end components
  chronos:
    registry:   ""
    repository: exivity/chronos
    tag:        ""
    pullPolicy: ""
  dbInit:
    registry:   ""
    repository: exivity/db
    tag:        ""
    pullPolicy: ""
  dummyData:
    registry:   ""
    repository: exivity/dummy-data
    tag:        "main" # Tag should be changed to match the rest in the future
    pullPolicy: ""
  edify:
    registry:   ""
    repository: exivity/edify
    tag:        ""
    pullPolicy: ""
  executor:
    registry:   ""
    repository: exivity/executor
    tag:        ""
    pullPolicy: ""
  griffon:
    registry:   ""
    repository: exivity/griffon
    tag:        ""
    pullPolicy: ""
  horizon:
    registry:   ""
    repository: exivity/horizon
    tag:        ""
    pullPolicy: ""
  pigeon:
    registry:   ""
    repository: exivity/pigeon
    tag:        ""
    pullPolicy: ""
  proximityCli:
    registry:   ""
    repository: exivity/proximity-cli
    tag:        ""
    pullPolicy: ""
  transcript:
    registry:   ""
    repository: exivity/transcript
    tag:        ""
    pullPolicy: ""
  use:
    registry:   ""
    repository: exivity/use
    tag:        ""
    pullPolicy: ""
