# -- Override deployment name
nameOverride:     ""

# -- Please overwrite this, and use your actual licence or "demo" if you just want to look around, as it can only be changed through the Helm chart
licence: ""

ingress:
  # -- Enable ingress
  enabled:          true
  # -- Host/domain name to create the ingress route for
  host:             exivity
  # -- Set on ingress, if empty it's not set
  ingressClassName: ""

  annotations: { }
  #  kubernetes.io/ingress.allow-http:         "false"
  #  nginx.ingress.kubernetes.io/ssl-redirect: "true"
  #  nginx.ingress.kubernetes.io/use-regex:    "true"

  tls:
    # -- Enable TLS handling, disable to terminate TLS before ingress
    enabled: false
    # -- Existing TLS secret name, or set to "-" to generate a cert
    secret:  "-"

storage:
  storageClass:           ""
  helmResourcePolicyKeep: true
  sharedVolumeAccessMode: ReadWriteMany

# bitnami/postgresql chart config
postgresql:
  # -- Install PostgreSQL
  enabled:    true
  global:
    postgresql:
      auth:
        # -- Database name
        database:         exivity
        # -- Database username
        username:         exivity
        # -- Database password
        password:         Password12!
        # -- Database root password, not needed when you bring your own DB
        postgresPassword: Password13!

  # -- Bring your own DB host
  host:       ""
  # -- Bring your own DB port
  port:       ""


rabbitmq:
  enabled: true
  clustering:
    enabled: false

  auth:
    username:     user
    password:     pass

  # If you bring your own MQ
  host:   ""
  port:   ""
  vhost:  ""
  secure: false

service:
  registry:   docker.io
  tag:        ""
  pullPolicy: IfNotPresent

  pullSecrets: [ ]

  # Front-end components
  glass:
    registry:    ""
    repository:  exivity/glass
    tag:         ""
    pullPolicy:  ""
    servicePort: 80
    serviceType: ClusterIP
  proximityApi:
    registry:    ""
    repository:  exivity/proximity-api
    tag:         ""
    pullPolicy:  ""
    servicePort: 80
    serviceType: ClusterIP

  # Back-end components
  chronos:
    registry:   ""
    repository: exivity/chronos
    tag:        ""
    pullPolicy: ""
  dbInit:
    registry:   ""
    repository: exivity/db
    tag:        ""
    pullPolicy: ""
  dummyData:
    enabled:    false
    registry:   ""
    repository: exivity/dummy-data
    tag:        "main" # Tag should be changed to match the rest in the future
    pullPolicy: ""
  edify:
    registry:   ""
    repository: exivity/edify
    tag:        ""
    pullPolicy: ""
  executor:
    registry:   ""
    repository: exivity/executor
    tag:        ""
    pullPolicy: ""
  griffon:
    registry:   ""
    repository: exivity/griffon
    tag:        ""
    pullPolicy: ""
  horizon:
    registry:   ""
    repository: exivity/horizon
    tag:        ""
    pullPolicy: ""
  pigeon:
    registry:   ""
    repository: exivity/pigeon
    tag:        ""
    pullPolicy: ""
  proximityCli:
    registry:   ""
    repository: exivity/proximity-cli
    tag:        ""
    pullPolicy: ""
  transcript:
    registry:   ""
    repository: exivity/transcript
    tag:        ""
    pullPolicy: ""
  use:
    registry:   ""
    repository: exivity/use
    tag:        ""
    pullPolicy: ""
