ingress:
  enable: true
  host: exivity
  ingressClassName: nginx
  tlsSecret: exivity-tls
  generateCert: true
  serviceType: LoadBalancer

storage:
  helmResourcePolicyKeep: true
  sharedVolumeAccessMode: ReadWriteMany

# bitnami/postgresql chart config
postgresql:
  image:
    tag: 12.10.0
    pullPolicy: Always
  enabled: true
  auth:
    database: exivity
    username: exivity
    password: Password12!
    postgresPassword: Password13!
  fullnameOverride: exivity-postgres

database:
  initialise: true

rabbitmq:
  install: true
  user: guest
  password: guest
  vhost: /
  host: rabbit
  port: 5672

service:
  chronos:
    image: docker.io/exivity/chronos
  dbInit:
    image: docker.io/exivity/db
  edify:
    image: docker.io/exivity/edify
  executor:
    image: docker.io/exivity/executor
  glass:
    image: docker.io/exivity/glass
  griffon:
    image: docker.io/exivity/griffon
  horizon:
    image: docker.io/exivity/horizon
  pigeon:
    image: docker.io/exivity/pigeon
  proximityApi:
    image: docker.io/exivity/proximity-api
  proximityCli:
    image: docker.io/exivity/proximity-cli
  rabbitmq:
    image: rabbitmq
    tag: 3.9
  transcript:
    image: docker.io/exivity/transcript
  use:
    image: docker.io/exivity/use
