apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-horizon
  labels:
    app.kubernetes.io/component: horizon
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.horizon.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: horizon
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: horizon
        {{- include "exivity.labels" $ | indent 8 }}
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-horizon: {{ include (print $.Template.BasePath "/horizon/configmap.yaml") . | sha256sum }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      volumes:
        - name: config
          configMap:
            name: {{ include "exivity.fullname" $ -}}-config-horizon
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-horizon-log
      containers:
        - name:            horizon
          image: {{ include "exivity.image" (set $ "name" "horizon") }}
          imagePullPolicy: {{ .Values.service.horizon.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.horizon.resources | nindent 12 }}
          env:
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
          securityContext:
            runAsUser:  1000
            runAsGroup: 1000
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system
            - name:      log
              mountPath: /exivity/home/log/horizon
            - name:      log
              mountPath: /exivity/home/log/merlin
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.horizon.nodeName }}
      nodeName: {{ .Values.service.horizon.nodeName }}
      {{- end }}
      {{- with .Values.service.horizon.nodeSelector }}
      nodeSelector:
        {{ range $key, $val := . }}
        {{ $key }}: {{ $val }}
        {{- end }}
      {{- end }}
