apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-horizon
  labels:
    app.kubernetes.io/component: horizon
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.horizon.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: horizon
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-horizon: {{ include (print $.Template.BasePath "/horizon/configmap.yaml") . | sha256sum }}
        checksum/postgres-secret: {{ include (print $.Template.BasePath "/postgres-secret.yaml") . | sha256sum }}
        checksum/rabbitmq-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        app.kubernetes.io/component: horizon
        {{- include "exivity.labels" $ | indent 8 }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "horizon") | indent 8 }}
      volumes:
        {{- include "exivity.configTemplateVolume" (dict "configMapName" (printf "%s-config-horizon" (include "exivity.fullname" $))) | nindent 8 }}
        {{- include "exivity.configGeneratedVolume" . | nindent 8 }}
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-horizon-log
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigInjector" . | nindent 8 }}
        {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "horizon" "volumes" (list "log")) | nindent 8 }}
      containers:
        - name:            horizon
          image: {{ include "exivity.image" (set $ "name" "horizon") }}
          imagePullPolicy: {{ .Values.service.horizon.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.horizon.resources | nindent 12 }}
          env:
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-postgres-secret
                  key: POSTGRES_PASSWORD
            - name: MQ_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-rabbitmq-secret
                  key: RABBITMQ_USERNAME
            - name: MQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ }}-rabbitmq-secret
                  key: RABBITMQ_PASSWORD
          volumeMounts:
            {{- include "exivity.configVolumeMount" . | nindent 12 }}
            - name:      log
              mountPath: /exivity/home/log/horizon
            - name:      log
              mountPath: /exivity/home/log/merlin
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.horizon.nodeName }}
      nodeName: {{ .Values.service.horizon.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.horizon) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.horizon) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.horizon) | nindent 8 }}