{{- if not (include "exivity.isSecretRef" .Values.licence) }}
apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-licence-key
  labels:
    app.kubernetes.io/component: proximity-api
    {{- include "exivity.labels" $ | indent 4 }}
data:
  {{- if .Release.IsUpgrade }}
  license.key: {{ index (lookup "v1" "Secret" .Release.Namespace (printf "%s-licence-key" (include "exivity.fullname" $))).data "license.key" }}
  {{- else }}
  license.key: {{ .Values.licence | required "A licence is required to be set on initial install" | b64enc }}
  {{- end }}
{{- end }}

---

{{- if .Values.ldap.tlsCacert }}
{{- if not (include "exivity.isSecretRef" .Values.ldap.tlsCacert) }}
apiVersion: v1
kind:       Secret
metadata:
  name: {{ include "exivity.fullname" $ -}}-ldap-tls-cert
  labels:
    app.kubernetes.io/component: proximity-api
    {{- include "exivity.labels" $ | indent 4 }}
  annotations:
  {{- if .Values.storage.helmResourcePolicyKeep }}
    "helm.sh/resource-policy": keep
  {{- end }}
data:
  ldap.pem: {{ .Values.ldap.tlsCacert | b64enc }}
{{- end }}
{{- end }}
