apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-proximity-api
  labels:
    app.kubernetes.io/component: proximity-api
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.proximityApi.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: proximity-api
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: proximity-api
        {{- include "exivity.labels" $ | indent 8 }}
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-config-shared: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/{{- include "exivity.fullname" $ -}}-licence-pub: {{ include (print $.Template.BasePath "/proximity/api.configmap.yaml") . | sha256sum }}
        checksum/{{- include "exivity.fullname" $ -}}-licence-key: {{ include (print $.Template.BasePath "/proximity/api.secret.yaml") . | sha256sum }}
        checksum/{{- include "exivity.fullname" $ -}}-lock: {{ include (print $.Template.BasePath "/proximity/api.configmap.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: projected
          projected:
            sources:
              - configMap:
                  name: {{ include "exivity.fullname" $ -}}-config-shared
              - configMap:
                  name: {{ include "exivity.fullname" $ -}}-licence-pub
              - secret:
                  name: {{ include "exivity.fullname" $ -}}-licence-key
        - name: exivity-lock
          configMap:
            name: {{ include "exivity.fullname" $ -}}-lock
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-proximity-api-log
        - name: log-chronos
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-chronos-log
        - name: log-edify
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-edify-log
        - name: log-griffon
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-griffon-log
        - name: log-horizon
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-horizon-log
        - name: log-pigeon
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-pigeon-log
        - name: log-transcript
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-transcript-log
        - name: log-use
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-use-log
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: report
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-report
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
      containers:
        - name: proximity-api
          image: {{ include "exivity.image" (set $ "name" "proximityApi") }}
          imagePullPolicy: {{ .Values.service.proximityApi.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.proximityApi.resources | nindent 12 }}
          securityContext:
            runAsUser:  1000
            runAsGroup: 1000
          ports:
            - name:          http
              protocol:      TCP
              containerPort: 8080
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            - name:      projected
              mountPath: /exivity/home/system
            - name:      exported
              mountPath: /exivity/home/exported
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      log
              mountPath: /exivity/home/log/proximity
            - name:      log-chronos
              mountPath: /exivity/home/log/chronos
            - name:      log-edify
              mountPath: /exivity/home/log/edify
            - name:      log-griffon
              mountPath: /exivity/home/log/griffon
            - name:      log-horizon
              mountPath: /exivity/home/log/horizon
            - name:      log-pigeon
              mountPath: /exivity/home/log/pigeon
            - name:      log-transcript
              mountPath: /exivity/home/log/transcript
            - name:      log-use
              mountPath: /exivity/home/log/use
            - name:      import
              mountPath: /exivity/home/import
            - name:      report
              mountPath: /exivity/home/system/report
            - name:      exivity-lock
              mountPath: /exivity/program
          env:
            - name: EXIVITY_APP_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ -}}-app-key
                  key:                                     app_key
            - name: EXIVITY_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ -}}-licence-key
                  key:                                     license.key
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "exivity.fullname" $ -}}-jwt-secret
                  key:                                     jwt_secret
            - name:  REDIS_HOST
              value: exivity-redis-master
            - name:  CACHE_DRIVER
              value: file
            - name:  QUEUE_CONNECTION
              value: sync
            - name: NGINX_LOG_PATH
              value: /var/log/nginx
            - name: EXIVITY_BACKEND_LOG_LEVEL
              value: "{{ .Values.logLevel.backend }}"
            - name:  ENABLE_PROMETHEUS
              value: "{{ .Values.prometheus.metricServer.enabled }}"
        {{- if .Values.ingress.trustedProxy }}
            - name: TRUSTED_PROXY
              value: {{ printf "%s" (.Values.ingress.trustedProxy) | quote }}
        {{- end }}
        {{- if .Values.service.proximityApi.phpMemoryLimit }}
            - name: PHP_MEMORY_LIMIT
              value: {{ printf "%s" (.Values.service.proximityApi.phpMemoryLimit) | quote }}
        {{- end }}
          {{- include "exivity.nfs-liveness" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.proximityApi.nodeName }}
      nodeName: {{ .Values.service.proximityApi.nodeName }}
      {{- end }}
      {{- with .Values.service.proximityApi.nodeSelector }}
      nodeSelector:
        {{ range $key, $val := . }}
        {{ $key }}: {{ $val }}
        {{- end }}
      {{- end }}
