apiVersion: apps/v1
kind:       Deployment
metadata:
  name: {{ include "exivity.fullname" $ -}}-proximity-cli
  labels:
    app.kubernetes.io/component: proximity-cli
    {{- include "exivity.labels" $ | indent 4 }}
spec:
  replicas: {{ .Values.service.proximityCli.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: proximity-cli
      {{- include "exivity.matchLabels" $ | indent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: proximity-cli
        {{- include "exivity.labels" $ | indent 8 }}
      annotations:
        checksum/{{- include "exivity.fullname" $ -}}-proximity-cli-env: {{ include (print $.Template.BasePath "/proximity/cli.env.yaml") . | sha256sum }}
        checksum/{{- include "exivity.fullname" $ -}}-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        checksum/{{- include "exivity.fullname" $ -}}-config-logfiles: {{ include (print $.Template.BasePath "/logfiles-configmap.yaml") . | sha256sum }}
        checksum/postgres-secret: {{ include (print $.Template.BasePath "/postgres-secret.yaml") . | sha256sum }}
        checksum/rabbitmq-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      securityContext:
        {{- include "exivity.securityContext" (dict "root" . "component" "proximityCli") | indent 8 }}
      volumes:
        {{- include "exivity.configVolume" . | nindent 8 }}
        - name: log
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-proximity-cli-log
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-etl-config
        - name: import
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-import
        - name: report
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-report
        - name: extracted
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-extracted
        - name: exported
          persistentVolumeClaim:
            claimName: {{ include "exivity.fullname" $ -}}-exported
        {{- include "exivity.permissionScriptVolume" . | nindent 8 }}
      initContainers:
        {{- include "exivity.initConfigContainer" (set $ "data" (dict "appname" "proximity-cli" "path" "/usr/bin/php" "queue" "PROXIMITY")) | nindent 8 }}
        {{- include "exivity.initPermissionsContainer" (dict "root" . "component" "proximityCli" "volumes" (list "log" "config" "import" "report" "extracted" "exported")) | nindent 8 }}
      containers:
        - name:            proximity-cli
          image: {{ include "exivity.image" (set $ "name" "proximityCli") }}
          imagePullPolicy: {{ .Values.service.proximityCli.pullPolicy | default .Values.service.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.service.proximityCli.resources | nindent 12 }}
          volumeMounts:
            - name:      config
              mountPath: /exivity/home/system/config
            {{- include "exivity.configVolumeMount" . | nindent 12 }}
            - name:      exported
              mountPath: /exivity/home/system/exported
            - name:      extracted
              mountPath: /exivity/home/system/extracted
            - name:      log
              mountPath: /exivity/home/log/proximity
            - name:      log
              mountPath: /exivity/home/log/merlin
            - name:      import
              mountPath: /exivity/home/import
            - name:      report
              mountPath: /exivity/home/system/report
          envFrom:
            - configMapRef:
                name: {{ include "exivity.fullname" $ -}}-proximity-cli-env
            - secretRef:
                name: {{ include "exivity.fullname" $ -}}-app-key
            - secretRef:
                name: {{ include "exivity.fullname" $ -}}-jwt-secret
            - configMapRef:
                name: {{ include "exivity.fullname" $ -}}-config-logfiles
          {{- include "exivity.probes" $ | indent 10}}
      {{- with .Values.service.pullSecrets }}
      imagePullSecrets:
        {{- range $name := .}}
        - name: {{ $name }}
        {{- end }}
      {{- end }}
      {{- if .Values.service.proximityCli.nodeName }}
      nodeName: {{ .Values.service.proximityCli.nodeName }}
      {{- end }}
      {{- include "exivity.tolerations" (dict "Values" .Values "component" .Values.service.proximityCli) | nindent 6 }}
      {{- include "exivity.nodeSelector" (dict "Values" .Values "component" .Values.service.proximityCli) | nindent 6 }}
      affinity:
        {{- include "exivity.nodeAffinity" (dict "Values" .Values "component" .Values.service.proximityCli) | nindent 8 }}