name: Release Charts

on:
  workflow_dispatch:
  push:
    tags:
      - "exivity-*"

jobs:
  helm-release:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Package Charts
        run: |
          mkdir -p .cr-release-packages
          helm package charts/exivity -d .cr-release-packages
          echo "Packaged charts:"
          ls -la .cr-release-packages/

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Push to Docker Hub OCI Registry
        run: |
          for chart in .cr-release-packages/*.tgz; do
            echo "ushing $chart to Docker Hub OCI registry..."
            helm push "$chart" oci://registry-1.docker.io/${{ secrets.DOCKER_HUB_USER }}
            echo "Successfully pushed to oci://registry-1.docker.io/${{ secrets.DOCKER_HUB_USER }}"
          done

      - name: Run chart-releaser
        uses: exivity/chart-releaser-action@v1.1.0
        env:
          CR_TOKEN: "${{ secrets.GH_BOT_TOKEN }}"
