name: Daily build

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  image-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name:
          - chronos
          - db
          - db-backup
          - edify
          - executor
          - glass
          - griffon
          - horizon
          - pigeon
          - proximity-api
          - proximity-cli
          - transcript
          - use
          - jq
    steps:
      - name: release images with tags
        uses: exivity/actions/retag-image@main
        with:
          source-name: ${{ matrix.name }}
          source-tag: main
          target-name: ${{ matrix.name }}
          target-tag: daily
          target-user: ${{ secrets.DOCKER_HUB_USER }}
          target-password: ${{ secrets.DOCKER_HUB_TOKEN }}
