name: Release Images

on:
  push:
    tags:
      - "exivity-*"
  workflow_dispatch:

jobs:
  image-release:
    if: ${{ github.ref_type == 'tag' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name:
          - chronos
          - db
          - edify
          - executor
          - glass
          - griffon
          - horizon
          - pigeon
          - proximity-api
          - proximity-cli
          - transcript
          - use
    steps:
      - name: Extract version and set output
        id: extract_version
        run: echo "version=v${GITHUB_REF#refs/tags/exivity-}" >> $GITHUB_OUTPUT

      - name: release images with tags
        uses: exivity/actions/retag-image@main
        with:
          source-name: ${{ matrix.name }}
          source-tag: ${{ steps.extract_version.outputs.version }}
          target-name: ${{ matrix.name }}
          target-tag: ${{ github.ref_name }}
          target-user: ${{ secrets.DOCKER_HUB_USER }}
          target-password: ${{ secrets.DOCKER_HUB_TOKEN }}
