name: okteto-registry
permissions:
  contents: read
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch name to checkout'
        required: false
        default: 'main'
  push:
    branches: [ main ]
  pull_request:

jobs:
  upload-chart:
    runs-on: ubuntu-latest
    env:
      OKTETO_CA_CERT: ${{ secrets.OKTETO_CA_CERT }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || github.head_ref || github.ref_name || github.ref }}

      - name: Context
        uses: exivity/okteto-context-action@latest
        with:
          url: ${{ secrets.OKTETO_CONTEXT }}
          token: ${{ secrets.OKTETO_TOKEN }}

      - name: Trigger the pipeline
        uses: exivity/okteto-pipeline-action@latest
        with:
          name: v3-charts:latest
          filename: okteto.yaml