name: release-notes

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  check-release-notes:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: exivity/actions/release-notes@main
        with:
          gh-token: ${{ secrets.GH_BOT_TOKEN }}
          jira-username: ${{ secrets.JIRA_BOT_EMAIL }}
          jira-token: ${{ secrets.JIRA_BOT_TOKEN }}
